Package: lanotifica
Version: ${VERSION}
Section: net
Priority: optional
Architecture: amd64
Maintainer: Alessandro Lattao <alessandro@lattao.com>
Description: Android notification forwarder for Linux desktop
 HTTP server that receives notifications from Android devices
 and displays them on Linux desktop via D-Bus notifications.
Homepage: https://github.com/alessandrolattao/lanotifica
